# ==== OpenSubtitles.com server settings =======================================
[SETTINGS]
osd_username = USERNAME
osd_password = PASSWORD
osd_api_key = API_KEY
osd_languages = {"English": "en", "Arabic": "ar", "French": "fr"} # {"Language name": "language code", ...} (see ISO 639-1 Code, to get your language code)
osd_user_agent = TemporaryUserAgent


# if you're skipping the interactive menu, the first language in osd_languages will be used
skip_interactive_menu = False # True or False
skip_sync = False # this choice is taken into account only if skip_interactive_menu is True


# Force downloading and storing UTF-8 encoded subtitles files.
opt_force_utf8 = True
